.curve-l {
  box-shadow: -10px -10px 0 #0a0a0a;
}

.curve-r {
  box-shadow: 10px -10px 0 #0a0a0a;
}

.menu {
  clip-path: circle(0% at 100% 0%);
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.el:hover {
  .perspective {
    transform: rotateX(90deg);
  }
}

.float-btn {

  @media screen and (min-width: 1400px) {
    right: calc(50% - 700px); /* 50% del ancho del viewport - mitad del max-width del contenedor */

  }

}

.float-curve {

  @media screen and (min-width: 1400px) {
    right: calc(50% - 716px); /* 50% del ancho del viewport - mitad del max-width del contenedor */

  }

}

.perspective {
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);

  p {
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1), opacity 0.75s cubic-bezier(0.76, 0, 0.24, 1);

    &:nth-of-type(2) {
      position: absolute;
      transform: rotateX(-90deg) translateY(20px);
      transform-origin: bottom center;
    }
  }
}
