<nav class="fixed top-0 inset-x-0 px-2 pt-2 bg-white z-50">
  <div class="w-full h-[60px] flex justify-between items-center border-b-2 border-black">
    <ul class="flex items-center h-full">
      @for (item of menuItems; track item.path) {

      <li class="h-full">
        <a
          class="h-full inline-flex justify-center items-center px-5 relative lowercase text-xl border-x-2 border-t-2 border-transparent hover:bg-neutral-200 transition-all duration-200 ease-custom-bezier"
          [routerLink]="item.path"
          [routerLinkActive]="['border-x-black', 'border-t-black', 'border-t-8']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}.tsx
        </a>
      </li>
      }
    </ul>

    <a routerLink="/" class="w-[200px]">
      <img src="/logotext.svg" width="200" alt="micahedev logo" />
    </a>
  </div>
</nav>
<div class="h-[60px]"></div>
