<nav class="bg-transparent">
  <!--Logo-->

  <div class="h-4 bg-neutral-950 w-full fixed top-0 z-10"></div>
  <div
    class="z-10 fixed mt-4 mr-4 bg-white w-[100px] h-[100px] bg-opacity-0 content-normal top-0 right-0 rounded-se-3xl curve-r"
  ></div>

  <div
    class="h-[80px] mt-4 fixed z-10 bg-neutral-950 text-white top-0 w-[100px] inline-flex justify-center items-center text-2xl rounded-ee-3xl"
  >
    <img class="w-full object-cover pb-2 pr-2 rounded-3xl z-10 h-full" src="/logo.png" alt="" />

    <div
      class="absolute bg-white w-[50px] h-[50px] bg-opacity-0 content-normal top-[100%] left-0 rounded-xl curve-l"
    ></div>
    <div
      class="absolute bg-white w-[50px] h-[50px] bg-opacity-0 content-normal top-0 left-[100%] rounded-xl curve-l"
    ></div>
  </div>

  <button
    (click)="toggleMenu()"
    class="fixed w-auto border h-[60px] border-neutral-700 z-50 top-0 right-0 m-8 bg-neutral-900 text-white p-2 rounded-2xl inline-flex justify-center items-center gap-4"
  >
    <div class="bg-white overflow-hidden w-[40px] h-[40px] rounded-xl">
      <div class="slider w-full h-full relative">
        <!--elements-->
        <div class="el text-neutral-950 w-full h-full text-2xl group">
          <div class="perspective w-full h-full flex justify-center items-center">
            <p class="inline-flex justify-center items-center group-hover:-translate-y-[100%] group-hover:opacity-0">
              <ng-icon name="remixMenuLine" />
            </p>
            <p class="group-hover:opacity-1"><ng-icon name="remixMenuLine" /></p>
          </div>
        </div>

        <div class="el bg-red-400 text-white w-full h-full text-2xl absolute top-[100%] group">
          <div class="perspective w-full h-full flex justify-center items-center">
            <p class="inline-flex justify-center items-center group-hover:-translate-y-[100%] group-hover:opacity-0">
              <ng-icon name="remixCloseFill" />
            </p>
            <p class="group-hover:opacity-1"><ng-icon name="remixCloseFill" /></p>
          </div>
        </div>
      </div>
    </div>

    <span class="text-2xl px-4 font-extrabold uppercase">Menu</span>
  </button>

  <menu class="bg-neutral-950 menu fixed w-full h-full inset-0 z-40 flex p-4 gap-4 max-md:flex-col-reverse">
    <div
      class="flex-1 max-md:h-[100px] max-md:flex-auto h-full grid grid-rows-3 grid-cols-1 gap-4 text-5xl max-md:text-3xl max-sm:text-2xl font-extrabold uppercase max-md:grid-rows-1 max-md:grid-cols-3"
    >
      <a
        href=""
        class="me overflow-hidden relative group bg-neutral-950 border border-neutral-700 rounded-3xl max-md:rounded-2xl text-white flex justify-center items-center"
      >
        <div
          class="absolute w-full h-full flex justify-center transition-transform items-center bg-neutral-900 top-0 left-0 -translate-x-[100%] group-hover:translate-x-0 duration-500 rounded-3xl max-md:rounded-2xl"
        >
          <div class="text-8xl max-md:text-4xl aboslute bottom-0 right-0">
            <ng-icon name="remixExternalLinkLine" />
          </div>
        </div>
        <span class="flex max-md:hidden"> Github </span>

        <div class="hidden max-md:flex">
          <ng-icon class="text-4xl" name="remixGithubLine" />
        </div>
      </a>
      <a
        href=""
        class="me overflow-hidden relative group bg-white text-neutral-950 rounded-3xl max-md:rounded-2xl flex justify-center items-center"
      >
        <div
          class="absolute w-full h-full flex justify-center transition-transform items-center bg-neutral-300 top-0 left-0 translate-y-[100%] group-hover:translate-y-0 duration-500 rounded-3xl max-md:rounded-2xl"
        >
          <div class="text-8xl max-md:text-4xl aboslute bottom-0 right-0">
            <ng-icon name="remixExternalLinkLine" />
          </div>
        </div>
        <span class="flex max-md:hidden">Linkedin</span>
        <div class="hidden max-md:flex">
          <ng-icon class="text-4xl" name="remixLinkedinBoxLine" />
        </div>
      </a>
      <a
        href=""
        class="me overflow-hidden relative group bg-violet-500 text-white rounded-3xl max-md:rounded-2xl flex justify-center items-center"
      >
        <div
          class="absolute w-full h-full flex justify-center transition-transform items-center bg-violet-600 top-0 left-0 translate-x-[100%] group-hover:translate-x-0 duration-500 rounded-3xl max-md:rounded-2xl"
        >
          <div class="text-8xl max-md:text-4xl aboslute bottom-0 right-0">
            <ng-icon name="remixExternalLinkLine" />
          </div>
        </div>
        <span class="flex max-md:hidden"> Resume </span>
        <div class="hidden max-md:flex">
          <ng-icon class="text-4xl" name="remixProfileLine" />
        </div>
      </a>
    </div>

    <div
      class="w-2/3 max-md:w-full max-md:h-full max-md:items-start max-md:p-8 h-full flex flex-col justify-center items-center border border-neutral-700 rounded-3xl menu-items"
    >
      @for (item of menuItems; track $index) {
      <a
        (click)="toggleMenu()"
        [routerLink]="item.path"
        class="text-8xl w-full first-of-type:border-t first-of-type:border-t-neutral-700 px-10 border-b border-b-neutral-700 max-md:text-5xl flex justify-end items-center transition-colors duration-300 text-white font-extrabold uppercase link hover:text-violet-500"
      >
        {{ item.label }}
      </a>
      }
    </div>
  </menu>
</nav>
