<div class="my-4">
  <div class="bg-noise h-[80vh] w-full overflow-hidden rounded-t-3xl rounded-br-3xl">
    <div class="w-full h-full bg-neutral-900 bg-opacity-90 flex">
      <div class="w-full h-full p-8 relative bg-neutral-500 bg-opacity-90">
        <img
          class="w-full object-contain h-full hover:scale-75 hover:rotate-2 duration-300 transition-transform"
          src="/notload.png"
          alt=""
        />

        <div
          class="absolute bottom-0 left-0 overflow-ellipsis bg-neutral-950 text-white rounded-tr-[60px] flex justify-start items-center py-8 pr-8"
        >
          <h1
            class="text-8xl text-nowrap max-md:text-wrap max-md:text-4xl overflow-ellipsis overflow-hidden max-w-[1200px] max-xl:max-w-[500px] max-md:max-w-[150px] font-extrabold uppercase"
          >
            I'M Sorry
          </h1>

          <div
            class="absolute bg-white w-[50px] h-[50px] bg-opacity-0 content-normal bottom-0 left-[100%] rounded-bl-[30px] curve-l"
          ></div>
          <div
            class="absolute bg-white w-[50px] h-[50px] bg-opacity-0 content-normal bottom-[100%] left-0 rounded-bl-[30px] curve-l"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-4 items-center text-white max-md:flex-col max-md:items-start max-md:gap-0 max-md:p-4">
    <p class="text-white">
      {{ errorMsg }}
    </p>
  </div>
</div>
