<div class="flex flex-col gap-4" #container>
  <div class="flex max-md:flex-col justify-between items-center gap-8">
    <div class="h-[80vh] w-1/2 max-md:w-full bg-noise rounded-3xl overflow-hidden relative el opacity-0 translate-y-10">
      <img
        class="w-full h-full object-contain object-bottom bg-white opacity-90"
        src="/profile.jpeg"
        alt="Michell Castillo photo"
      />
    </div>

    <div class="flex flex-col gap-8 w-1/2 max-md:w-full text-3xl max-md:text-xl">
      <p class="text-white el opacity-0">
        Based in Quillota, Chile, a
        <span class="inline-flex items-center gap-2 font-semibold"
          >fullstack developer
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 200 200">
            <path
              fill="url(#paint0_linear_104_40)"
              d="M100.254 200c-3.154 0-5.82-2.284-6.584-5.344-2.435-9.753-7.096-20.125-13.983-31.114-8.16-13.195-19.791-25.434-34.895-36.719-13.137-9.929-26.274-16.7-39.41-20.312C2.27 105.656 0 102.897 0 99.671c0-3.164 2.183-5.892 5.225-6.76C18.105 89.234 30.512 83.263 42.448 75c13.715-9.549 25.173-21.007 34.375-34.375 8.14-11.909 13.728-23.686 16.763-35.333C94.382 2.241 97.068 0 100.221 0c3.188 0 5.893 2.29 6.669 5.383 1.752 6.982 4.49 14.129 8.214 21.44 4.688 9.028 10.677 17.708 17.969 26.042 7.465 8.16 15.799 15.538 25 22.135 12.024 8.523 24.247 14.511 36.671 17.964 3.048.847 5.256 3.56 5.256 6.723 0 3.211-2.275 5.947-5.371 6.796-7.875 2.159-15.981 5.641-24.316 10.444-10.07 5.903-19.445 12.934-28.126 21.094-8.68 7.986-15.798 16.406-21.354 25.26-6.9 11.012-11.566 21.464-13.996 31.358-.754 3.069-3.424 5.361-6.583 5.361Z"
            ></path>
            <defs>
              <linearGradient
                id="paint0_linear_104_40"
                x1="27.5"
                x2="149"
                y1="19"
                y2="174.5"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FFD9A0"></stop>
                <stop offset="1" stop-color="#FFF5F1"></stop>
              </linearGradient>
            </defs></svg
        ></span>
        with a year of experience in creating
        <span class="inline-flex items-center gap-2 font-semibold"
          >business solutions
          <svg
            class="hover:rotate-180 transition-transform"
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="none"
            viewBox="0 0 200 200"
          >
            <path
              fill="url(#paint0_linear_105_535)"
              fill-rule="evenodd"
              d="M100 153.877c41.147 0 76.851-26.337 94.627-42.204 7.162-6.393 7.162-17.076 0-23.469C176.851 72.337 141.147 46 99.999 46 58.852 46 23.148 72.337 5.372 88.204c-7.163 6.393-7.163 17.076 0 23.469 17.776 15.867 53.48 42.204 94.627 42.204Zm0-16.307c20.783 0 37.631-16.848 37.631-37.632 0-20.783-16.848-37.631-37.632-37.631-20.783 0-37.631 16.848-37.631 37.631 0 20.784 16.848 37.632 37.631 37.632Z"
              clip-rule="evenodd"
            ></path>
            <defs>
              <linearGradient
                id="paint0_linear_105_535"
                x1="157.499"
                x2="106.827"
                y1="63.26"
                y2="158.86"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset=".051" stop-color="#FFB6E1"></stop>
                <stop offset="1" stop-color="#FBE3EA"></stop>
              </linearGradient>
            </defs></svg
        ></span>
        using
        <span class="relative rotate-2"
          >Angular <span class="absolute -bottom-2 left-0 w-full h-2 bg-red-300 content-normal"></span></span
        >,
        <span class="relative rotate-2"
          >React <span class="absolute -bottom-2 left-0 w-full h-2 bg-blue-300 content-normal"></span></span
        >,
        <span class="relative rotate-2"
          >Node.js <span class="absolute -bottom-2 left-0 w-full h-2 bg-green-300 content-normal"></span></span
        >, and various databases.
      </p>
      <p class="text-white  el opacity-0">
        As a
        <span class="inline-flex items-center gap-2 font-semibold"
          >self-taught developer
          <svg
            class="animate-pulse"
            xmlns="http://www.w3.org/2000/svg"
            id="Capa_1"
            x="0"
            y="0"
            version="1.1"
            viewBox="0 0 512 512"
            width="30"
            height="30"
          >
            <path
              d="M369.214 159.814c-91.389-55.601-48.533-134.078-46.693-137.34A14.999 14.999 0 0 0 309.515 0c-47.043 0-83.881 13.366-109.49 39.729-43.759 45.044-41.729 115.151-40.862 145.088.097 3.317.179 6.182.179 8.311 0 22.228 3.566 42.748 6.713 60.854 2.028 11.668 3.779 21.744 4.091 29.664.333 8.482-1.216 10.424-1.281 10.503-.221.263-2.062 1.241-7.036 1.241-5.674 0-9.856-1.854-13.563-6.009-14.476-16.233-15.477-60.554-12.709-84.667a14.999 14.999 0 0 0-14.898-16.732c-38.945 0-68.047 63.688-68.047 120.632 0 26.769 5.385 52.991 16.004 77.94 10.266 24.119 24.904 45.885 43.512 64.696C150.877 490.425 201.97 512 255.993 512c54.242 0 105.321-21.27 143.831-59.889 38.41-38.521 59.564-89.482 59.564-143.499 0-68.921-53.927-126.746-90.174-148.798z"
              fill='url("#SvgjsLinearGradient1039")'
            ></path>
            <defs>
              <linearGradient id="SvgjsLinearGradient1039">
                <stop stop-color="#fceabb" offset="0"></stop>
                <stop stop-color="#f8b500" offset="1"></stop>
              </linearGradient>
            </defs></svg></span
        >, committed to continuous learning and tackling new challenges, with a focus on delivering practical and
        effective solutions.
      </p>
      <p class="text-white  el opacity-0">
        Always open to new opportunities and keen to discuss how skills can contribute to your next project.
        <span class="inline-flex items-center gap-2"> Let’s connect! <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 494.148 494.148" width="30" height="30"><path d="M405.284 201.188 130.804 13.28C118.128 4.596 105.356 0 94.74 0 74.216 0 61.52 16.472 61.52 44.044v406.124c0 27.54 12.68 43.98 33.156 43.98 10.632 0 23.2-4.6 35.904-13.308l274.608-187.904c17.66-12.104 27.44-28.392 27.44-45.884.004-17.48-9.664-33.764-27.344-45.864z" fill="url(&quot;#SvgjsLinearGradient1059&quot;)"></path><defs><linearGradient id="SvgjsLinearGradient1059"><stop stop-color="#f7f7f7" offset="0"></stop><stop stop-color="#83c3ff" offset="1"></stop></linearGradient></defs></svg> </span>
      </p>
    </div>
  </div>

  <div
    class="flex h-[10vh] relative el opacity-0 transition-all rounded-2xl capitalize py-4 gap-5 text-yellow-200 text-2xl delay-100 bg-transparent overflow-hidden select-none band"
  >
    <div
      class="content-normal absolute lef-0 top-0 h-full w-[200px] bg-gradient-to-r from-neutral-950 to-transparent z-10"
    ></div>
    <div
      class="content-normal absolute right-0 top-0 h-full w-[200px] bg-gradient-to-l from-neutral-950 to-transparent z-10"
    ></div>
    <ul class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-reverse">
      @for (item of services; track item.name + 'original' + $index) {
      <li [ngClass]="item.styles">{{ item.name }}</li>
      }
    </ul>
    <ul aria-hidden="true" class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-reverse">
      @for (item of services; track item.name + $index) {
      <li [ngClass]="item.styles">{{ item.name }}</li>
      }
    </ul>
  </div>
</div>
