<section class="w-full h-[100vh] border-x-2 border-black relative overflow-hidden">
  <div class="flex justify-center items-center w-[90%] h-full mx-auto gap-5">
    <div class="flex justify-center items-center w-[10%] h-full">
      <h2 class="-rotate-90 text-[15rem] uppercase font-extrabold" style="line-height: 15rem">About</h2>
    </div>

    <div class="flex flex-col w-[50%] justify-start h-full">
      <h2 class="text-[15rem] uppercase font-extrabold" style="line-height: 15rem">Me</h2>

      <p class="text-4xl mb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid expedita magni velit repudiandae deleniti
        facere voluptas dolorem dolore dolorum molestias alias minima ratione voluptates, animi officia placeat
        distinctio. Est fugit architecto commodi nesciunt. Porro accusamus corporis eligendi in quasi rem, dicta non id
        sit saepe eius consequuntur ipsam facere unde?
      </p>

      <div class="flex items-center gap-2">
        <button class="bg-black text-white font-extrabold uppercase px-8 py-4">Download cv</button>
        <button class="bg-neutral-800 text-white font-extrabold uppercase px-8 py-4">Linkedin</button>
        <button class="bg-neutral-800 text-white font-extrabold uppercase px-8 py-4">Github</button>
      </div>
    </div>

    <div class="relative w-[40%] bg-neutral-400">
      <h4 class="absolute bottom-[100%] right-0 text-4xl uppercase">Born in Venezuela</h4>
      <h4 class="absolute bottom-0 right-[100%] text-4xl text-vertical rotate-180 uppercase">Michell D. Castillo</h4>
      <img class="" src="/profile.png" width="800" alt="Michell Castillo photo" />
    </div>
  </div>
</section>
