<div class="nav-container" #menuContainer>
  <nav class="nav">
    <div class="logo">
      <app-transition-link href="/" label="MicaheDev." />
    </div>

    <div>
      <p>{{ formattedDate }}</p>
    </div>

    <a class="menu-open hover-effect" (click)="toggleMenu()">
      <ng-icon name="remixMenu4Fill" />
    </a>
  </nav>
  <div class="menu-overlay">
    <nav class="overlay-nav">
      <div class="logo" (click)="toggleMenu()">
        <app-transition-link href="/" label="MicaheDev." />
      </div>

      <div class="menu-open hover-effect" (click)="toggleMenu()">
        <ng-icon name="remixCloseLine" />
      </div>
    </nav>

    <menu>
      @for (link of menuLinks; track link.path) {
      <div class="link-item">
        <div class="link-item-holder" (click)="toggleMenu()">
          <app-transition-link [href]="link.path" [label]="link.label" />
        </div>
      </div>
      }
    </menu>

    <div class="menu-info">
      <div class="menu-close-icon hover-effect" (click)="toggleMenu()">
        <ng-icon name="remixCloseLine" />
      </div>
      <div class="menu-socials">
        <a href="#" class="hover-effect"
          >Instagram <ng-icon name="remixArrowRightUpLine"
        /></a>
        <a href="#" class="hover-effect"
          >LinkedIn <ng-icon name="remixArrowRightUpLine"
        /></a>
        <a href="#" class="hover-effect"
          >GitHub <ng-icon name="remixArrowRightUpLine"
        /></a>
      </div>
      <div class="contact">
        <a href="#" class="hover-effect">Send me a email</a>
        <a href="#" class="hover-effect">Call me</a>
      </div>
      <div class="menu-preview">
        <a href="#" class="hover-effect">View Showreel</a>
      </div>
    </div>
  </div>
</div>
