---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MicaheDev - Not found">
  <main class="o-main-container">
    <section
      class="c-404 container d-flex justify-content-center align-items-center flex-column px-4"
    >
      <!-- SVG shape like a pencil stroke for more style -->
      <svg
        class="c-404__figure"
        viewBox="0 0 733 729"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M118.868 189.08L261.391 97.1639L57.4909 364.65L458.838 61.6756L82.8587 555.479L674.394 57.5152L173.482 670.106L648.425 292.674L399.826 642.114L646.745 487.987"
          stroke="currentColor"
          stroke-opacity="0.5"
          stroke-width="80"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>

      <h1 class="c-main-title">
        <span class="text-secondary fw-bolder">404</span> Not Found
      </h1>
    </section>
  </main>
</Layout>
