  <app-background />

  <div #transitionDiv>
    <!--
<div class="banner" id="banner-1">夢</div>
<div class="banner" id="banner-2">力</div>
<div class="banner" id="banner-3">創</div>
<div class="banner" id="banner-4">志</div>
-->
    <div class="banner" id="banner-1">よ</div>
    <div class="banner" id="banner-2">う</div>
    <div class="banner" id="banner-3">こ</div>
    <div class="banner" id="banner-4">そ</div>

    <main>
      <app-navbar />
      <ng-component />
      <app-cursor />
    </main>
  </div>
