<div
  class="flex px-2 py-4 gap-5 overflow-hidden select-none border-b border-neutral-700 band"
  [ngClass]="{
    'bg-black text-white': colorMode === 'dark',
    'bg-transparent text-black': colorMode === 'light'
  }"
>
  <ul class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-regular">
    @for (item of BandList; track item.name) {
    <li [ngClass]="item.styles">{{ item.name }}</li>
    }
  </ul>
  <ul aria-hidden="true" class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-regular">
    @for (item of BandList; track $index) {
    <li [ngClass]="item.styles">{{ item.name }}</li>

    }
  </ul>
</div>
