@if (isLoading) {
<div>Loading</div>
}@else{
<article class="project">
  <header class="project_media">
    <div class="project_principal">
      <img [src]="currentProject?.preview?.url" [alt]="currentProject?.preview?.alt" />
      <h1 class="project_title">{{ currentProject?.title }}</h1>
    </div>
    <div class="project_secondaries">
      <div class="first_image">
        <img [src]="currentProject?.image?.url" [alt]="currentProject?.image?.alt" />
      </div>
      <div class="second_image">
        <img [src]="currentProject?.image2?.url" [alt]="currentProject?.image2?.alt" />
      </div>
    </div>
  </header>

  <main class="project_content">
    <header class="project_info">
      <div class="categories">
        @for (category of currentProject?.category; track $index) {

        <span>
          {{ category }}
        </span>
        }
      </div>

      <div class="technologies">
        @for (technology of currentProject?.technologies; track $index) {
        <span>
          {{ technology }}
        </span>
        }
      </div>
    </header>

    <div class="footer">
      <p class="desc">{{ currentProject?.desc }}</p>

      <div class="details">
        @if(currentProject?.problem){
        <div>
          <h3>Problem</h3>
          <p>{{ currentProject?.problem }}</p>
        </div>
        } @if(currentProject?.solution){
        <div>
          <h3>Solution</h3>
          <p>{{ currentProject?.problem }}</p>
        </div>
        } @if(currentProject?.impact){
        <div>
          <h3>Impact</h3>
          <p>{{ currentProject?.impact }}</p>
        </div>
        }
      </div>
    </div>
  </main>
</article>
}
