<section
  class="relative flex h-[50vh] w-full flex-col items-center justify-center overflow-hidden border-2 border-black"
>
  <h1 class="text-[10rem] uppercase" style="line-height: 10rem">Contact ME</h1>

  <div class="flex w-1/2 items-center justify-between border-2 border-black px-5 py-4">
    <h3 class="text-5xl">{{ 'webdev.michell@gmail.com' }}</h3>
    <button class="inline-flex items-center justify-center">
      <ng-icon class="text-5xl" name="remixFileCopyLine" />
    </button>
  </div>
</section>
