<section
  class="relative flex h-[50vh] max-md:h-auto max-md:py-20 bg-gradient-to-r from-blue-200 via-white to-pink-200 w-full flex-col items-center justify-center overflow-hidden border-2 border-black"
>
  <h1 class="text-[10rem] leading-[10rem] max-lg:leading-normal max-lg:text-8xl max-md:text-5xl uppercase">Contact me</h1>

  <div class="flex w-1/2 max-md:w-[90%] m-auto h-[100px] max-md:h-[50px] items-center justify-between border-2 border-black bg-white">
    <h3 class="select-none text-5xl max-md:text-xl max-md:px-4 px-8">{{ 'webdev.michell@gmail.com' }}</h3>
    <button (click)="copy()" class="flex h-full bg-black text-white items-center px-8 justify-center overflow-hidden relative ">
      <span
      class="transition-all absolute inset-0 h-full inline-flex justify-center items-center"
        [ngClass]="{
          'translate-y-0': copied,
          'translate-y-[100%]': !copied,
        }"
      >
        <ng-icon class="text-5xl max-md:text-2xl" name="remixCheckFill" />
      </span>
      <span
      class="transition-all  h-full inline-flex justify-center items-center"
        [ngClass]="{
          'translate-y-0': !copied,
          'translate-y-[100%]': copied,
        }"
      >
        <ng-icon class="text-5xl max-md:text-2xl" name="remixFileCopyLine" />
      </span>
    </button>
  </div>
</section>
