<a
  routerLink="/"
  class="fixed flex justify-center border border-neutral-700 items-center group overflow-hidden group z-20 text-4xl max-md:text-2xl duration-300 max-md:w-[50px] max-md:h-[50px] w-[100px] max-md:p-0 h-[100px] bottom-0 left-0 m-5 max-md:m-2 rounded-full bg-white p-8 text-neutral-950"
>
  <ng-icon name="remixArrowLeftLine" />

  <div
    class="absolute top-0 bottom-0 w-full z-30 h-full bg-neutral-950 transition-transform rounded-3xl -translate-x-[100%] group-hover:translate-x-0 text-white flex justify-center items-center text-4xl max-md:text-2xl"
  >
    <ng-icon name="remixArrowLeftLine" />
  </div>
</a>

<div class="flex flex-col gap-4">
  @if (uploadedProjects.length > 0 && !isLoading) { @for (item of uploadedProjects; track item.slug + $index) {
  <app-project-item [project]="item" class="project" />
  } } @else if (isLoading) {
  <app-project-loader />
  } @else {
  <app-project-error [errorMsg]="this.error.msg" />
  }
</div>
