
.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em; /* Ajusta este valor para que coincida con la altura de dos párrafos */
}
