<section>
  <div class="container">
    <div class="me">
      <h3>Who I am?</h3>
      <p class="paragraph">
        Fullstack Web Developer with one year of experience developing business applications and products using React
        and Angular, Expert designing and implementing solutions of software architecture and integration of web
        services.
      </p>
    </div>
    <div class="profile">
      <img class="profile-image" src="/me.jpeg" alt="" />

      <div class="info">
        <a href="https://media.licdn.com/dms/document/media/D4D2DAQGnezNN68aEdg/profile-treasury-document-pdf-analyzed/0/1721664219043?e=1722470400&v=beta&t=dUWmGISS1z5h5qBCxcnKG-rQ_ERTJPfEyn8odmUi8MQ" target="_blank" class="options bounce-hover"><ng-icon name="remixArrowDownLine" /> <span>Downlaod Resume</span></a>
        <a class="options bounce-hover"><ng-icon name="remixLinkedinBoxLine" /></a>
      </div>
    </div>
  </div>
</section>
