section {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  //background-color: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;

  .profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;

    .profile-image {
      width: 500px;
      object-fit: cover;
      border: 4px solid var(--dark);
      border-radius: 20px;
    }

    .info {
      width: 100%;
      height: 20%;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .options {
        width: 100%;

        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 100px;

        &:nth-of-type(1) {
          background-color: var(--black);
          font-size: 1rem;
          color: var(--white);
        }

        &:nth-of-type(2) {
          background-color: var(--green);
          font-size: 4rem;
          color: var(--black);
        }

        &:nth-of-type(3) {
          background: url('/texture.jpg');
          font-size: 4rem;
          color: var(--dark);
        }
      }
    }
  }

  .me {
    width: 50%;

    h3 {
      background-color: var(--green);
      font-size: 3rem;
      font-weight: var(--fw-normal);
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 20px;
      transform: rotate(3deg);
      display: inline-flex;
    }

    p {
      font-size: 2.5rem;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  //border: 2px solid yellow;
}

@media screen and (max-width: 1400px) {
  section .container {
    flex-direction: column;
  }

  section .me {
    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
