<section class="flex w-full h-[85vh] max-md:h-auto border-b border-b-gray-400 overflow-hidden max-md:flex-col">
  <div class="w-1/2 max-md:w-full h-full border-r flex justify-center items-center border-r-gray-400 bg-black">
    <img width="768" height="1366" class="w-3/4 h-[95%] object-cover" src="/profile1.jpg" alt="" />
    <img width="768" height="1366"  class="w-2/5 h-[95%] object-cover" src="/profile2.jpg" alt="" />
  </div>

  <div class="w-1/2 max-md:w-full  h-full flex flex-col justify-between">
    <div class="flex self-end">
      <h4 class="h-[100px] px-5 flex justify-center items-center border-b border-b-gray-400 border-l border-l-gray-400 max-md:border-l-0">
        1 Year of Experience
      </h4>
      <h4
        class="h-[100px] w-[200px] px-5 flex justify-center items-center border-b border-b-gray-400 border-l border-l-gray-400"
      >
        Based in Chile
      </h4>
    </div>

    <div class="w-3/4 m-auto text-2xl flex flex-col gap-4 max-md:text-1xl max-md:p-4 max-md:w-full">
      <h1 class="text-4xl">Michell Castillo</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro saepe, rem odit quis amet, necessitatibus omnis ex velit dolores inventore nesciunt nisi mollitia repellat eligendi sapiente est qui eaque placeat dicta similique, cumque in corporis? Repudiandae et quo deserunt eos, velit ex, incidunt libero vitae dignissimos tenetur officia obcaecati iste?</p>
    </div>

    <div class="flex self-start">
      <button class="px-5 bg-violet-500 text-white font-extrabold text-4xl uppercase border-t border-t-gray-400 border-r border-r-gray-400">Resume</button>
      <h4
        class="h-[100px] w-[200px] px-5 flex justify-center items-center border-t border-t-gray-400 border-r border-r-gray-400"
      >
        Born In Venezuela
      </h4>
    </div>
  </div>
</section>
