<app-hero />
<section class="relative h-[90svh] overflow-hidden">
  <div class="roght-0 absolute left-0 m-auto">
    <h3 class="text-[300px] font-bold uppercase text-purple-300">Experience</h3>
  </div>

  <div
    class="absolute bottom-0 left-0 right-0 m-auto h-[70%] w-[80%] overflow-hidden rounded-t-3xl bg-neutral-800"
  >
    <img
      class="h-[70%] w-full object-cover"
      src="../../../assets//preview.png"
      alt=""
    />
    <div class="m-auto w-[90%] p-2 flex flex-col gap-2">
      <h5 class="text-lg font-black uppercase">Maths Predators</h5>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
        inventore odit quis porro suscipit, esse harum quam nostrum quod
        reprehenderit quas ea quos rem dignissimos, iste neque! Sint, excepturi
        culpa.
      </p>
      <ul class="inline-flex items-center  text-neutral-800 font-bold gap-2">
        <li class="bg-purple-300 rounded-md px-3 py-2">Html</li>
        <li class="bg-purple-300 rounded-md px-3 py-2">Css</li>
        <li class="bg-purple-300 rounded-md px-3 py-2">JavaScriptd</li>
      </ul>
    </div>
  </div>
</section>
