<section>
  <div class="content">
    <div class="titles">
      <div class="welcome">welcome <ng-icon name="remixHand" /></div>
      <h1>Develop your ideas</h1>
      <h2>Design your dreams</h2>
    </div>

    <div class="float">
      <app-three-render />
    </div>
  </div>

  <div class="info">
    <div class="desc">
      <p>
        Hi, I'm Michell Castillo, a freelance web developer from Chile. I love
        being creative and experimenting. Thanks for visiting, enjoy!
      </p>
    </div>

    <div class="exp"><span>8 </span>months exp</div>

    <div class="skills">
      <p>UI/UX Desingner</p>
      <p>Web Developer</p>
      <p>Freelance</p>
    </div>
  </div>
</section>

<!--

Sanity API


<section>
  <div class="content">
    <div class="titles">
      <div class="welcome">welcome <ng-icon name="remixHand" /></div>
      <h1>{{ data.title1 }}</h1>

      <h2>{{ data.title2 }}</h2>
    </div>

    <div class="float">
      <app-three-render />
    </div>
  </div>

  <div class="info">
    <div class="desc">
      <p>
        {{ data.description }}
      </p>
    </div>

    <div class="exp"><span>{{data.expNumber}}</span>{{data.expUnit}} of exp</div>

    <div class="skills">
      @for (skill of data.skills; track skill) {
      <p>{{ skill }}</p>
      }
    </div>
  </div>
</section>

-->