.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
section {
  height: 85vh;
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  //border: 2px solid red;

  app-three-render {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: var(--black);
    border-radius: 20px;

    overflow: hidden;
  }

  .headers {
    grid-column: 2/5;
    grid-row: 1/2;

    .welcome {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 20px 40px;
      background-color: var(--green);
      border-radius: 20px;
      font-size: 4rem;
      transform: rotate(4deg);
    }

    .title {
      font-size: clamp(4rem, -0.412rem + 7.843vw, 9rem);
      text-transform: uppercase;
      font-weight: var(--fw-bolder);
      line-height: 80%;
    }

    .subtitle {
      font-size: clamp(1.5rem, -0.706rem + 3.922vw, 4rem);
      text-transform: uppercase;
      font-weight: var(--fw-normal);
      color: var(--dark);
      span {
        font-weight: var(--fw-bolder);
      }
    }
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .exp {
    background-color: var(--black);
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    .year {
      position: absolute;
      bottom: -10vh;
      margin: auto;
      width: 100%;
      height: 100%;
      margin: auto;
      opacity: 0.2;
    }

    h5 {
      position: absolute;
      top: 0;
      margin: 20px auto;
      font-size: 1.5rem;
      color: var(--dark);
    }

    p {
      font-size: 1.2rem;
    }
  }

  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 4px solid var(--dark);
    border-radius: 20px;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  .desc {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .sub-block {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
    }

    .github {
      background: url('/texture.jpg');
      border: 6px dashed var(--dark);

      ng-icon {
        font-size: 7rem;
        color: var(--black);
        opacity: 0.8;
      }
    }

    .linkedin {
      background: #3b82f6;
      border: 4px solid var(--dark);

      ng-icon {
        font-size: 7rem;
        color: var(--white);
      }
    }

    .dribble {
      background: #f87171;
      border: 4px solid var(--dark);

      ng-icon {
        font-size: 7rem;
        color: var(--white);
      }
    }

    .x {
      background: var(--black);
      border: 4px solid var(--dark);

      ng-icon {
        font-size: 7rem;
        color: var(--white);
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    app-three-render {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .headers {
      grid-column: 1/3;
      grid-row: 1/2;

      .welcome {
        font-size: 1.5rem;
      }

      .title {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 1.3rem;
      }
    }

    .exp {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .desc {
      grid-column: 2/3;
      grid-row: 2/3;
      gap: 5px;

      .sub-block {
        ng-icon {
          font-size: 3rem;
        }
      }
    }

    .services {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
}
