section {
  padding: 0 40px;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  // border: 2px solid green;

  .titles {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    // border: 2px solid red;

    .welcome {
      background: var(--green);

      transform: rotate(2deg);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      padding: 20px 40px;
      border-radius: 20px;
    }

    h1 {
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: var(--fw-normal);
    }

    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: var(--fw-thin);
    }
  }
}

app-three-render {
  position: absolute;
  width: 120%;
  height: 120%;
  left: 0;
  top: 0;
  z-index: 3;
  margin: auto;
}

.float {
  flex: 1;
  height: 100%;
  //border: 2px solid blue;
  position: relative;
}

.info {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    flex: 1;
  }

  .desc {
    flex: 1;
  }

  .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    span {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 900px) {
  section {
    height: auto;
  }

  .float {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  app-three-render {
    position: static;
    width: 100%;
    height: 100%;
  }

  .info {
    flex-wrap: wrap;
    .desc {
      flex: 100%;
    }

    .skills {
      align-items: flex-start;
    }

    .exp {

      align-items: start;


    }
  }

  .content {
    .titles {
      .welcome {
        font-size: 2rem;
        padding: 10px 20px;
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}

/*
section {
  display: flex;
  height: 80vh;
  width: 100%;
  position: relative;
  padding: 0 40px;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.info {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titles {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .welcome {
    background: var(--green);

    transform: rotate(2deg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 20px 40px ;
    border-radius: 20px;
  }

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: var(--fw-normal);
  }

  h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: var(--fw-thin);
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  flex: 1;
}

.desc {
  flex: 1;
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  span {
    font-size: 4rem;
  }
}



*/
