<section>
  <div class="content">
    <div class="titles">
      <div class="welcome">welcome <ng-icon name="remixHand"/></div>
      <h1>Develop your ideas</h1>
      <h2>Desing your dreams</h2>
    </div>

    <div class="info">
      <div class="desc">
        <p>
          Hi, I'm Michell Castillo, a freelance web developer from Chile. I love
          being creative and experimenting. Thanks for visiting, enjoy!
        </p>
      </div>

      <div class="exp"><span>8 </span>months exp</div>

      <div class="skills">
        <p>UI/UX Desingner</p>
        <p>Web Developer</p>
        <p>Freelance</p>
      </div>
    </div>
  </div>

  <app-three-render />
</section>
