<section
  #container
  class="relative flex min-h-[90vh] w-full items-center justify-center overflow-hidden border-x-2 border-black max-lg:h-auto max-lg:py-20"
>
  <!-- principal titles of header section in the center -->

 

  <div
    data-value="6"
    class="stain parallax-item absolute inset-0 m-auto h-[600px] w-[600px] animate-pulse rounded-full border-2 border-black opacity-30 max-lg:-right-[20%] max-md:h-[300px] max-md:w-[100px]"
  >
    <div
      class="h-[400px] w-[400px] animate-pulse border-2 border-black max-lg:-right-[20%] max-md:h-[200px] max-md:w-[200px]"
    >
      <div
        class="h-[200px] w-[200px] animate-pulse rounded-full border-2 border-black max-lg:-right-[20%] max-md:h-[100px] max-md:w-[100px]"
      ></div>
    </div>
  </div>

  <div
    data-value="2"
    class="stain parallax-item absolute left-0 top-[70%] h-[100px] w-[100px] -rotate-45 animate-pulse border-2 border-black opacity-30 max-lg:-right-[20%] max-md:h-[300px] max-md:w-[200px] max-md:top-[40%]"
  >
    <div
      class="h-[200px] w-[300px] -rotate-45 animate-pulse border-2 border-black max-lg:-right-[20%] max-md:h-[200px] max-md:w-[200px]"
    >
      <div
        class="h-[200px] w-[200px] rotate-45 animate-pulse border-2 border-black max-lg:-right-[20%] max-md:h-[100px] max-md:w-[100px]"
      ></div>
    </div>
  </div>

  <div
    data-value="-9"
    class="stain parallax-item absolute right-0 top-0 h-[500px] w-[100px] -rotate-45 animate-pulse border-2 border-black opacity-30 max-lg:-right-[20%] max-md:h-[300px] max-md:w-[100px]"
  >
    <div
      class="h-[200px] w-[300px] -rotate-45 animate-pulse border-2 border-black max-lg:-right-[20%] max-md:h-[200px] max-md:w-[200px]"
    >
      <div
        class="h-[200px] w-[200px] rotate-45 animate-pulse border-2 border-black max-lg:-right-[20%] max-md:h-[100px] max-md:w-[100px]"
      ></div>
    </div>
  </div>
  <div class="relative m-auto flex w-[80%] flex-col items-start justify-center">
    <h2
      class="name -rotate-3 border-2 border-black bg-white px-8 py-4 text-4xl font-extrabold uppercase max-md:px-4 max-md:text-2xl"
    >
      Michell Castillo
    </h2>
    <h1 class="role text-6xl font-extrabold uppercase max-md:text-wrap max-md:text-3xl">
      UI/UX DESIGNER & FULL STACK DEVELOPER
    </h1>
    <h3 class="motto text-outline text-9xl font-extrabold uppercase text-white max-md:text-wrap max-md:text-5xl">
      Everything you want, <span class="text-black">how you like it</span>
    </h3>
  </div>
</section>
<app-profile />
<app-projects />
<app-certifications />
<app-contact />
<app-footer />
