<nav class="nav" #gsapContainer>
  <div class="logo">
    <div>Micahe</div>
    <div>Dev.</div>
  </div>
  <div class="date">
    <p>{{ date }}</p>
  </div>
  <div style="width: 60px"></div>
  <div class="menu">
    <div class="menu-items">
      <div class="list">
        @for (item of menuItems; track item.path) {
        <div class="item-holder bounce-hover" (click)="toggleMenu()">
          <app-transition-link [href]="item.path" [label]="item.label" />
        </div>
        }
      </div>
    </div>
  </div>

  <button (click)="toggleMenu()" class="button">
    <div class="slider">
      <div class="el">
        <div class="perspective-text">
          <p><ng-icon name="remixMenu4Fill" /></p>
          <p><ng-icon name="remixMenu4Fill" /></p>
        </div>
      </div>
      <div class="el">
        <div class="perspective-text">
          <p><ng-icon name="remixCloseLine" /></p>
          <p><ng-icon name="remixCloseLine" /></p>
        </div>
      </div>
    </div>
  </button>
</nav>
<div style="height: 80px"></div>
