<div #gsapContainer>
  <nav class="nav-container">
    <div class="nav-logo">
      <div>Micahe</div>
      <div>Dev.</div>
    </div>
    <div class="nav-info">
      <div class="date">
        <p>{{ date }}</p>
      </div>
      <div class="based"><p>Based in Chile</p></div>
    </div>
    <button class="menu-btn bounce-hover" (click)="toggleMenu()">
      <ng-icon name="remixMenu4Fill" />
    </button>
  </nav>

  <div class="fullscreen-menu">
    <nav class="nav-menu">
      <div class="nav-logo">
        <app-transition-link href="/" label="Micahe" />
        <app-transition-link href="/" label="Dev" />
      </div>
      <div class="nav-info">
        <div class="date">
          <p>{{ date }}</p>
        </div>
        <div class="based"><p>Based in Chile</p></div>
      </div>
      <button class="menu-btn bounce-hover" (click)="toggleMenu()">
        <ng-icon name="remixCloseLine" />
      </button>
    </nav>
    <menu>
      @for (item of menuItems; track item.path) {
      <div class="menu-item" (click)="toggleMenu()">
        <app-transition-link [href]="item.path" [label]="item.label" />
      </div>
      }
      <button class="close-btn" (click)="toggleMenu()">
        <ng-icon name="remixCloseLine" class="bounce-hover" />
      </button>
    </menu>
    <div class="footer-menu">
      <div class="socials col">
        <a href="#" class="bounce-hover"
          >Instagram <ng-icon name="remixArrowRightUpLine"
        /></a>
        <a href="#" class="bounce-hover"
          >LinkedIn <ng-icon name="remixArrowRightUpLine"
        /></a>
        <a href="#" class="bounce-hover"
          >GitHub <ng-icon name="remixArrowRightUpLine"
        /></a>
      </div>
      <div class="contact col">
        <a href="#" class="bounce-hover">Send me a email</a>
        <a href="#" class="bounce-hover">Call me</a>
      </div>
      <div class="more col">
        <a href="#" class="bounce-hover">(>w<)</a>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px;"></div>