<div class="font-clash flex flex-col gap-4">
  <div
    class="flex h-[40vh] rounded-3xl px-2 capitalize py-4 gap-5 text-neutral-950 text-8xl delay-100 bg-violet-200 overflow-hidden select-none band"
  >
    <ul class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-reverse">
      @for (item of services; track item.name + 'original' + $index) {
      <li [ngClass]="item.styles">{{ item.name }}</li>
      }
    </ul>
    <ul aria-hidden="true" class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-reverse">
      @for (item of services; track item.name + $index) {
      <li [ngClass]="item.styles">{{ item.name }}</li>

      }
    </ul>
  </div>

  <div
    class="flex h-[40vh] rounded-3xl px-2 py-4 gap-5 text-neutral-950 text-8xl delay-100 bg-white overflow-hidden select-none band"
  >
    <ul class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-regular">
      @for (item of texts; track item.name) {
      <li [ngClass]="item.styles">{{ item.name }}</li>
      }
    </ul>
    <ul aria-hidden="true" class="shrink-0 flex justify-between items-center gap-5 min-w-full animate-infinite-regular">
      @for (item of texts; track item.name + $index) {
      <li [ngClass]="item.styles">{{ item.name }}</li>

      }
    </ul>
  </div>

  @if (uploadedProjects.length > 0 && !isLoading) { @for (item of uploadedProjects; track item.slug + $index) {
  <app-project-item [project]="item" />
  } } @else if (isLoading) {
  <app-project-loader />
  } @else {
  <app-project-error [errorMsg]="this.error.msg" />
  }
</div>
